* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 16px;

    --clr-Almost-White: hsl(0, 0%, 98%);
    --clr-Grey: hsl(0, 0%, 41%);
    --clr-Almost-Black: hsl(0, 0%, 8%);
}
body {
    color: var(--clr-Almost-Black);
    background-color: var(--clr-Almost-White);
}
.desktopMenu {
    display: none;
}
.loginRegester {
    display:none;
}
img {
    width: 100%;
    max-width: 100%;
}
ul {
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: space-between;
    font-size: 1.2rem;
}
li:hover {
    color: var(--clr-Almost-Black);
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 1rem;
    color: var(--clr-Grey);
}
.logo{
    width: 100px;
}
.menuIcon {
    width: 30px;
}
main {
    display: flex;
    flex-direction: column-reverse;
}
.right img {
    margin-bottom: 0.5rem;
}
.left {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    align-items: center;
  
}
main h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
main p {
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.button {
    background-color: black;
    width: 200px;
    height: 55px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border: black 2px transparent;
}
.button h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    width: 200px;
    height: 55px;
}
.button:hover {
    border: black 2px solid;
    background-color: transparent;
}
.button h2:hover {
    color: black;
}
.logos {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
}
.loginButton {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
   
    border-radius: 15px;
    font-size: 1.2rem;
}
.loginButton:hover {
    color: var(--clr-Almost-Black);
    cursor: pointer;
}
.registerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border: 2px black solid;
    border-radius: 15px;
    font-size: 1.2rem;
}
.registerButton:hover {
    color: var(--clr-Almost-Black);
    cursor: pointer;
}

.logos img {
    width: 80px;
}
@media (min-width: 768px) {
    main {
        display: flex;
        flex-direction: row;
    }
    header {
        margin-bottom: 6vh;
       
    }
    .right {
       width: 450px;
    }
    .left {
        padding: 0rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-height: 100vh;
        width: 500px;
      
    }
    main h1 {
        margin-top: 10%;
        font-size: 4rem;
        width: 530px;
        text-align: left;
        line-height: 6rem;
    }
    main p{
       text-align: left;
       width: 300px;
    }
    .menuIcon {
        display: none;
    }
    .desktopMenu {
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 35%;
        transform: translateX(-50%);
    }
    .loginRegester {
        display: flex;
        position: absolute;
        right: 4rem;
    }
  
}
@media (min-width: 1100px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 500px);
        grid-gap: 80px;
        margin: 0 auto;
        max-width: 1200px;
        justify-content: center;
        align-items: center;
    }
    main h1 {
        font-size: 5rem;
    }
    .right {
        width: 500px;
    }
    ul {
        width: 400px;
    }
    header {
        margin: 2rem 4rem;
    }
}

